.button {
    outline: none;
    border: none;
    background: none;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.button:hover {
    background: #dedede;
}

.button:active {
    background: #cccccc;
}

.button[state="selected"] {
    background: var(--main-blue-color);
}

.button img {
    height: 18px;
    width: 18px;
    filter: invert(100%);
}

.button[state="selected"] img {
    filter: none;
}