.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    background: var(--main-background-color);
}

.presentations {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.tableWrapper {
    height: fit-content;
    width: 100%;
    user-select: none;
    /* border: 1px solid var(--main-border-color); */
    /* border-radius: 15px; */
    overflow: hidden;
}

.elements {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    text-decoration: none;
    /* position: sticky;
    top: 60px;
    left: 0; */
    border-bottom: 1px solid var(--main-border-color);
}

.elements:hover {
    background: var(--main-accent-color);
    cursor: pointer;
}

.elements:active {
    filter: brightness(98%);
}

.elements:nth-child(1):hover {
    background: none;
    cursor: default;
}

.elements h3 {
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
    color: var(--main-paragraph-color);
    text-overflow: ellipsis;
}

.name {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.name img {
    height: 30px;
    width: auto;
}

.elements:nth-child(1) h3 {
    color: var(--main-font-color);
    font-weight: 600;
}