.header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--main-accent-color);
    border-bottom: 1px solid var(--main-border-color);
}

.header input {
    background: none;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-paragraph-color);
}

.navigation {
    height: 100%;
    display: flex;
}

.users {
    margin-right: 10px;
}